body {
  font-family: Arial;
 background: #0E1E19;
background: linear-gradient(90deg, rgba(14, 30, 25, 1) 0%, rgba(34, 60, 51, 1) 35%, rgba(207, 133, 40, 1) 100%);
  display: flex;
  justify-content: center;  
  align-items: center;      
  height: 100vh;           
  margin: 0;

}

.calculation {
  color: white;
  font-size: 45px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;

}

.calculator-button {
  height: 60px;
  width: 60px;
  border-radius: 60px;
  border: none;
  font-size: 26px;
  cursor: pointer;
  margin-right: 5px;
  transition: all 0.15s ease;
}

.calculator-button:active{
  transform: scale(0.95);
  opacity: 0.8;
}

.gray-button {
  background-color: rgb(51, 51, 51);
  color: white;
}

.orange-button {
  background-color: rgb(254, 160, 10);
  color: white;
}


.clear-button {
  font-size: 17px;
}

.equal {
  background-color: rgb(2, 112, 2);
  cursor: pointer;
  border: none;
  height: 40px;
  width:  17rem;
  border-radius: 5px;
  font-size: 20px;
}

.calcu-body {
  background-color: black;
  padding: 20px;
  width: fit-content;
  margin: 80px auto;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.result{
  background-color: #111;
  height: 45px;
  text-align: right;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px;
  max-width: 16rem;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: inset 0 4px 8px rgba(0,0,0,0.6),
              inset 0 -2px 4px rgba(255,255,255,0.05);

}

